
body {
    margin: 0;
    background-color: #1B244A;
}

.container {
    display: flex;
    justify-content: space-around;
}

.text {
    color: white;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.score {
    border-radius: 5px;
    background-color: black;
    width: 155px;
    height: 120px;
    color: #F94F6D;
    margin-top: -20px;
}

.scoreText {
    text-align: center;
    font-family: 'Cursed Timer ULiL', sans-serif;
    font-size: 90px;
    margin-top: 12%;
}

.scoreButtons {
    border-radius: 5px;
    border-color: #9AABD8;
    width: 50px;
    height: 50px;
    font-family: 'Cursed Timer ULiL', sans-serif;
    color: #9AABD8;
    background: transparent;
    margin-top: -40%;
    font-size: 20px;
}
